<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <app-sidenav-component></app-sidenav-component>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar-component [isHandset$]="isHandset$" (toggleMenu)="toggle()"></app-toolbar-component>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
