.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.form-group {
    margin-right: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
}

.button {
    margin-top: 12px;
}

table {
    width: 80%;
}